%h1.page_header
  = "posts =>"
#posts
  = "[" 
  - @blobs["blobs"].each_pair do |key, value|
    %h1.post_title
      %a{:href=>"/show/#{params[:branch]}/#{key}/#{value}"}
        = "#{key}, "
  = "]"
