<html>
<head>
  <title><%= @info["repository"]["name"] %></title>
  <link rel="stylesheet" href="/stylesheet.css" type="text/css" />
  <link rel="alternate" type="application/rss+xml" title="<%= @info["repository"]["name"] %>" href="/rss" />
</head>
<body>
  <div id="header">
    <%= erb(:header, :layout=>false) %>
  </div>
  <div id="content">
    <div id="main">
      <% @blobs["blobs"].each_pair do |key, value| %>
        <h1 class="post_title"><a href="/show/<%= key %>/<%= value %>"><%= key %></a></h1>
      <% end %>
    </div>
    <div id="sidebar"> 
      <%= erb(:sidebar, :layout=>false) %>
    </div>
  </div>
  <%= erb(:footer, :layout=>false) %>
</body>
</html>
