!!!html
%html{:lang=>"en"}
  %head
    %meta{:charset=>"utf-8"} 
    %title
      = @info["repository"]["name"]
    %link{:rel=>"stylesheet", :href=>"/stylesheet.css", :type=>"text/css"}
  %body
    #header
      = haml(:header, :layout=>false)
    #content
      #main
        = yield 
      #sidebar
        = haml(:sidebar, :layout=>false)
    = haml(:footer, :layout=>false)
