<h1><a href="<%= @info["repository"]["homepage"] %>"><%= @info["repository"]["name"] %></a></h1>
<p><%= @info["repository"]["description"] %></p>

<h2>Collaborators</h2>
<ul id="collaborators">
<% @collaborators.each_pair do |key, value| %>
  <li><a href="http://github.com/<%= value %>"><%= value %></a></li>
<% end %>
</ul>

<div id="watchers">
  <a href="<%= @info["repository"]["url"] %>/watchers"><%= @info["repository"]["watchers"] %> watchers</a>
</div>
