<h1>New comment</h1>

<% form_for(@comment, :url=>{:action=>'update_comment', :id=>@comment.id}) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %> *<br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :homepage %><br />
    <%= f.text_field :homepage %>
  </p>
  <p>
    <%= f.label :body %> *<br />
    <%= f.text_area :body %>
  </p>
  <p>
    <%= hidden_field_tag 'comment[post_id]', @comment.post.id %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>
