<% for post in @posts %>
  <div class="post-item">
    <h1><%= link_to post.title, :controller=>'posts', :action=>'show', :id => post %></h1>
    <p class="post-date">created <%= time_ago_in_words(post.created_at) %> ago 
      under <%= link_to post.category.name, :controller=>'categories', :action=>'show', :id=>post.category.name %> | 
      <%= link_to post.comments.count.to_s + ' comments', :controller=>'posts', :action=>'show', :id=>post, :anchor=>'comments' %></p>
  </div>
<% end %>

<%= will_paginate @posts %>
